$main-color: #4650B2;

mat-card{
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 800px;
    padding: 0;

    mat-card-content{
        padding: 24px;
    }

}

.input-left{
    margin-right: 40px;

    @media screen and (max-width: 823px) {
        width: 100%;
    }
}

.input-enum{
    width: 330px;

    @media screen and (max-width: 823px) {
        width: 100%;
    }
}

.container-div{
    margin-bottom: 16px;
}

.a-icon-left{
    margin: 0 auto 10px -2px;
    /* margin-right: auto;
    margin-left: -2px;
    margin-bottom: 10px; */
    //justify-content: flex-end;
    //display: table; 
    justify-content: flex-start;
    display: flex;

    .mat-icon{
        color: #4650B2;
    }

    p{
        margin: 5px 0 0 0;
    }
}



.div-container-enum{
    display: flex;

    .enum-div{
        display: inline-block;
        margin-bottom: 20px;
        margin-right: 13px;
    
        @media screen and (max-width: 823px) {
            width: 85%;
        }
      }
}

.input-right {

    width: 520px;

    @media screen and (max-width: 823px) {
        width: 100%;
    }
}

.input-margin{
    margin-right: 30px;
}

.input-range{
    width: 356px;

    @media screen and (max-width: 823px) {
        width: 100%;
    }
}

.input-range-last-input{
    width: 234px;

    @media screen and (max-width: 823px) {
        width: 100%;
    }
}

.input-margin-last-input{
    margin-right: 20px;

}


.button-div{
    justify-content: flex-end;
    display: flex;
}


.save-button{
    margin-right: 10px;
}

mat-icon{
    font-size: 19px;
    height: 29px;
    width: 29px;
    margin-right: 0;
}


.material-icons{
    font-size: 26px;
    color: $main-color;
}

.material-block{
    color: gray;
    cursor: none;
}


p{
    margin: 0 0 0 0;
    @media screen and (max-width: 823px) {
        margin-right: 20px;
    }
}

.div-enum{
    position: relative;
    display: -webkit-inline-box;

    .div-child{
    background: #E4E2E2;
    display: inherit;  
    margin-bottom: 10px;  
    margin-right: 10px;

    @media screen and (max-width: 530px) {
       margin-right: 10px;
    }

      i{
        cursor: pointer;
          color: red;
          font-size: 17px;
      }
    }
}

.background-add{
    background: white;
    margin-right: 23px;

    @media screen and (max-width: 404px) {
        margin-right: 0;
    }

}

.div-errors{
    //width: 100% !important;
    margin-top: -10px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color: red;
    font-size: 11px;
    margin-left: 0px;
    margin-bottom: 8px;
    min-width: 100px !important;
    display: table;
    .div-manage-errors{
        font-family: Roboto,"Helvetica Neue",sans-serif;
        color: red;
        display: inline-block;
      min-width: 100px !important;
      margin: auto;
      text-align: start;
    }
  }

  .name-div{
    display: inline-block;

    @media screen and (max-width: 823px) {
        width: 100%;
    }
  }



  .range-input-div{
    display: inline-block;

    @media screen and (max-width: 823px) {
        width: 100%;
    }
  }

  