$main-color: #4650B2;

.input-left{
    margin-right: 40px;

    @media screen and (max-width: 823px) {
        width: 100%;
    }
}

.input-enum{
    margin-right: 5px;
    width: 330px;

    @media screen and (max-width: 823px) {
        width: 80%;
    }
}







.input-right {

    width: 520px;

    @media screen and (max-width: 823px) {
        width: 100%;
    }
}

.input-margin{
    margin-right: 30px;
}

.input-range{
    width: 356px;

    @media screen and (max-width: 823px) {
        width: 100%;
    }
}

.input-range-last-input{
    width: 234px;

    @media screen and (max-width: 823px) {
        width: 100%;
    }
}

.input-margin-last-input{
    margin-right: 20px;

}


.button-div{
    justify-content: flex-end;
    display: flex;
}


.save-button{
    margin-right: 10px;
}

mat-icon{
    font-size: 19px;
    height: 29px;
    width: 29px;
    margin-right: 0;
}


.material-icons{
    font-size: 26px;
    color: $main-color;
}

.material-block{
    color: gray;
    cursor: none;
}


p{
    cursor: pointer;
    background: #E4E2E2;

    @media screen and (max-width: 823px) {
        margin-right: 20px;
    }
}

.div-enum{
    position: relative;
    display: inline-block;

    @media screen and (max-width: 823px) {
        display: inline-flex;
    }
}

.background-add{
    background: white;
    margin-right: 23px;

}