<mat-card>
  <mat-card-content>

    <form #myForm="ngForm" [formGroup]="form" (submit)="onSubmit()">

      <div formArrayName="inputs" *ngFor="let input of form.controls.inputs.controls; let i = index; last as isLast">
        <div formGroupName="{{i}}" *ngIf="input.get('categoryInput').value === currentCategory">

          <!--  <div *ngIf="showNewInputForm" class="container-div"> -->
          <!--           <h2 mat-dialog-title>New Input</h2>
 -->
          <a (click)="showDetails(input)" class="a-details">
            <mat-icon md-12 aria-label="Details">{{input.get('showDetailsInput').value ? 'keyboard_arrow_up': 'keyboard_arrow_down'}}
            </mat-icon>
          </a>

          <div class="name-div">
            <mat-form-field class="input-left">
              <input type="text" matInput formControlName="nameInput" [(ngModel)]="input.get('nameInput').value" (input)="onSearchChange($event.target.value, input)"
                placeholder="Name">
            </mat-form-field>

            <div *ngIf="input.get('nameInput').errors && input.get('nameInput').touched" class="div-errors">
              <div *ngIf="input.get('nameInput').errors.required" class="div-manage-errors">Name is required.</div>
              <div *ngIf="!input.get('nameInput').errors.required && input.get('nameInput').invalid" class="div-manage-errors">{{input.get('nameInput').value}}
                already exists.</div>
            </div>
          </div>

          <mat-form-field class="input-right">
            <input type="text" matInput formControlName="descriptionInput" [(ngModel)]="input.get('descriptionInput').value" placeholder="Description">
          </mat-form-field>



          <div *ngIf="input.get('showDetailsInput').value">
            <mat-form-field class="input-left readonly-wrapper">
              <mat-select formControlName="deviceInput" placeholder="Device Resource Type" [(ngModel)]="input.get('deviceInput').value"
                [disabled]="true" class="readonly-block">
              </mat-select>
            </mat-form-field>


            <mat-form-field class="input-right">
              <input type="text" matInput formControlName="defaultValueInput" [(ngModel)]="input.get('defaultValueInput').value" [readOnly]="input.get('dataTypeInput').value === 'OBJECT'"
                placeholder="Default Value">
            </mat-form-field>
          </div>

          <div *ngIf="input.get('showDetailsInput').value">
            <mat-form-field class="input-left readonly-wrapper">
              <mat-select formControlName="dataTypeInput" [(ngModel)]="input.get('dataTypeInput').value" placeholder="Data Type" class="readonly-block">
                <mat-option *ngFor="let dataType of dataTypes" (click)="setValues(dataType, input)" [value]="dataType.name">
                  {{dataType.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="input-left readonly-wrapper">
              <mat-select formControlName="formatInput" [(ngModel)]="input.get('formatInput').value" [disabled]="input.get('dataTypeInput').value === 'OBJECT'"
                placeholder="Format" class="readonly-block">
                <mat-option *ngFor="let format of formats" (click)="manageValidations(format, input)" [value]="format.name">
                  {{format.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>


          <div  *ngIf="showEnum && input.get('showDetailsInput').value" class="div-container-enum">
            <div class="enum-div">
              <mat-form-field class="input-enum">
                <input type="text" matInput formControlName="enumInput" [(ngModel)]="input.get('enumInput').value" placeholder="Enumerations">
              </mat-form-field>
              <div *ngIf="input.get('enumInput').touched" class="div-errors">
                <div *ngIf="!input.get('enumInput').value" class="div-manage-errors">Please enter a value.</div>
              </div>

            </div>

            <button mat-mini-fab class="background-add" name="enumButton" [disabled]="!input.get('enumInput').value" (click)="addEnumToList(input, i)">
              <mat-icon md-12 aria-label="Details" class="icon-plus">
                add_circle
              </mat-icon>
            </button>

          </div>


          <div class="div-enum" *ngIf="input.get('enumerations').value.length >0 && input.get('showDetailsInput').value">
            <div class="div-child" *ngFor="let enum of input.get('enumerations').value">
              <p>
                {{enum.element}}
              </p>
              <i class="material-icons" (click)="removeEnumValues(enum, i)">
                clear
              </i>
            </div>

          </div>


          <div *ngIf="input.get('formatInput') && input.get('formatInput').value === 'NUMBER' && input.get('dataTypeInput') && input.get('dataTypeInput').value === 'STRING' && input.get('showDetailsInput').value">
            <div class="range-input-div">
              <mat-form-field class="input-range input-margin">
                <input type="number" matInput formControlName="rangeMinInput" [(ngModel)]="input.get('rangeMinInput').value" placeholder="Range Min">
              </mat-form-field>
              <div *ngIf="input.get('rangeMinInput').errors && input.get('rangeMinInput').touched" class="div-errors">
                <div *ngIf="input.get('rangeMinInput').errors.required" class="div-manage-errors">Range min is required.</div>
                <div *ngIf="!input.get('rangeMinInput').errors.required && input.get('rangeMinInput').invalid" class="div-manage-errors">Range
                  min must be less than Range max.</div>

              </div>
            </div>

            <div class="range-input-div">

              <mat-form-field class="input-range">
                <input type="number" matInput formControlName="rangeMaxInput" [(ngModel)]="input.get('rangeMaxInput').value" placeholder="Range Max">
              </mat-form-field>
              <div *ngIf="input.get('rangeMaxInput').errors && input.get('rangeMaxInput').touched" class="div-errors">
                <div *ngIf="input.get('rangeMaxInput').errors.required" class="div-manage-errors">Range max is required.</div>
                <div *ngIf="!input.get('rangeMaxInput').errors.required && input.get('rangeMaxInput').invalid" class="div-manage-errors">Range
                  max must be greater than Range min.</div>
              </div>
            </div>

          </div>

          <div *ngIf="input.get('formatInput') && input.get('formatInput').value === 'NUMBER' && input.get('dataTypeInput') && input.get('dataTypeInput').value === 'STRING' && input.get('showDetailsInput').value">
            <mat-form-field class="input-range-last-input input-margin-last-input">
              <input type="text" matInput formControlName="unitMeasureInput" [(ngModel)]="input.get('unitMeasureInput').value" placeholder="UoM (eg: mm)">
            </mat-form-field>

            <div class="range-input-div">
              <mat-form-field class="input-range-last-input input-margin-last-input">
                <input type="number" matInput formControlName="precisionInput" [(ngModel)]="input.get('precisionInput').value" placeholder="Precision (eg: 0.5)">
              </mat-form-field>

              <div *ngIf="input.get('precisionInput').errors && input.get('precisionInput').touched" class="div-errors">
                <div *ngIf="input.get('precisionInput').errors.required" class="div-manage-errors">Precision is required.</div>
                <div *ngIf="!input.get('precisionInput').errors.required && input.get('precisionInput').invalid" class="div-manage-errors">
                  Wrong value.</div>
              </div>
            </div>


            <div class="range-input-div">

              <mat-form-field class="input-range-last-input">
                <input type="number" matInput formControlName="accuracyInput" [(ngModel)]="input.get('accuracyInput').value" placeholder="Accuracy (eg: 0.5)">
              </mat-form-field>

              <div *ngIf="input.get('accuracyInput').errors && input.get('accuracyInput').touched" class="div-errors">
                <div *ngIf="input.get('accuracyInput').errors.required" class="div-manage-errors">Accuracy is required.</div>
                <div *ngIf="!input.get('accuracyInput').errors.required && input.get('accuracyInput').invalid" class="div-manage-errors">
                  Wrong value.</div>
              </div>

            </div>
          </div>

          <a *ngIf="input.get('showDetailsInput').value" class="a-icon-left-remove">
              <mat-icon (click)="removeInput(input)" md-12 aria-label="delete">delete</mat-icon>
          </a>

          <mat-divider></mat-divider>

          <!--    </div> -->

        </div>
      
      </div>


   

      <mat-divider></mat-divider>


      <a class="a-icon-left">
          <mat-icon (click)="addNewInput()" md-12 aria-label="Details">add_circle
          </mat-icon>
          <p>Add new attribute</p>
      </a>

      <mat-divider></mat-divider>


      <div class="button-div">
        <button mat-raised-button color="primary" [disabled]="!myForm.form.valid" class="save-button">SAVE</button>
        <button mat-raised-button (click)="manageFormCancel()">CANCEL</button>
      </div>
      <mat-divider *ngIf="form.value.inputs.length >0"></mat-divider>


      <div *ngFor="let input of form.value.inputs">
        <pre> {{input |json}}</pre>
      </div>




    </form>

  </mat-card-content>

</mat-card>