mat-card{
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 800px;
    padding: 0;

    mat-card-content{
        padding: 24px;
    }

}

.input-left{
    margin-right: 40px;

    @media screen and (max-width: 823px) {
        width: 100%;
    }
}

.input-right {

    width: 520px;

    @media screen and (max-width: 823px) {
        width: 100%;
    }
}

.input-margin{
    margin-right: 30px;
}

.input-range{
    width: 356px;

    @media screen and (max-width: 823px) {
        width: 100%;
    }
}

.input-range-last-input{
    width: 234px;

    @media screen and (max-width: 823px) {
        width: 100%;
    }
}

.input-margin-last-input{
    margin-right: 20px;

}


.mat-divider-class{
    margin-top: 9px;
    margin-bottom: 28px;
}
/* 
.button-div{
    justify-content: flex-end;
    display: flex;
} */

.details{
    padding: 0;
}

.a-details{
    margin-right: 0;
    margin-left: auto;
    justify-content: flex-end;
    display: table;
}

.a-icon-left{
    margin-right: auto;
    margin-left: -2px;
    //justify-content: flex-end;
    //display: table; 
    justify-content: flex-start;
    display: flex;

    .mat-icon{
        color: #4650B2;
    }
}

p{
    margin: 2px 0 0 0;
}


mat-icon{
    cursor: pointer;
    font-size: 19px;
}

.readonly-wrapper {
    cursor: not-allowed;
}

.readonly-wrapper .readonly-block {
    pointer-events: none;
}

.div-enum{
    position: relative;
    display: inline-block;
    margin-top: 18px;
    margin-bottom: 16px;
    .div-child{
    background: #E4E2E2;
    display: inherit;
    margin-right: 15px;

    @media screen and (max-width: 471px) {
       margin-bottom: 10px;
    }

    }
    p{
        margin: 1px 0 0 0;
    }
}
h4{
    margin: 0 0 10px 0;
}