mat-card{
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 800px;
    padding: 0;

    mat-card-content{
        padding: 24px;
    }

}

.input-left{
    margin-right: 40px;

    @media screen and (max-width: 823px) {
        width: 100%;
    }
}

.input-right {

    width: 520px;

    @media screen and (max-width: 823px) {
        width: 100%;
    }
}


.mat-divider-class{
    margin-top: 9px;
    margin-bottom: 28px;
}

.button-div{
    justify-content: flex-end;
    display: flex;
}

.details{
    padding: 0;
}

a{
    justify-content: flex-end;
    display: flex;
    cursor: pointer;
}